*{
	margin: 0px;
	padding: 0px;

}

body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	position: relative;
	background-color: black;
}

p{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: black;
	font-size: 15px;
}

a:hover{
	/*background-color: orange;*/
	/*font-style: bold;*/
	/*font-weight: 600;*/
	color: #ffcc00;

}

h1{
	/*margin: 0px;*/
	/*margin-top: 15px;*/
	/*margin: 20px 0px 0px 15px;*/
	/*padding-top: 15px;*/
	/*background-color: yellow;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 600px;
	width: 450px;
	font-size: 30px;
	float: left;
	color: black;
}

#container{
	min-height: 100%;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 400px;
	/*background-color: orange;*/
	background-color: white;
	width: 100%;
	/*background-image: url('forrest.jpg');*/
	/*background-size: cover;*/
	/*height: 1000px;*/
}
/*--------------- navigationBar---------------*/

#navBar{
	display: flex;
	margin: 0px;
	padding: 0px;
	height: 80px;
	width: 100%;
	/*background-color: #f2f2f2;*/
	/*background-color: red;*/
	overflow: auto;
	box-shadow: 2px 2px 5px #e6e6e6;
	align-items: center;
	justify-content: space-between;
}

#logo{
	display: flex;
	height: 80px;
	width: 80px;
	margin-left: 20px;
	/*float: left;*/
	/*background-color: red;*/
}

#title{
	margin: 0px;
	margin-left: 35px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 5px;
	/*background-color: red;*/
	padding: 0px;
	font-size: 28px;
}

#title:hover{
	color:black;
}

#navItems{
	/*background-color: yellow;*/
	/*width: 200px;*/
	/*margin: 30px 50px 0px 0px;*/
	margin-right: 40px;
	padding: 0px;
	/*width: 600px;*/
	min-width: 425px;
	/*width: 30%;/
	/*display: inline;*/
	list-style-type: none;
	float: right;
}

li{
	display: inline;
	margin: 0px 15px 0px 15px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	float: left;
	width: 75px;
	text-align: center;
	color: black;
}

#blogNav{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #ffcc00;
	/*font-style: bold;*/
}

/*---------- mobile navigation ----------*/
#hamburgerButton{
	width: 35px;
	height: 35px;
	margin-right: 10px;
	display: none;
}

#hamburgerButton:focus{
	outline: none;
}

#darkView{
	position: absolute;
	/*top: 150px;*/
	top: 80px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 9;
}

#slideInMenu{
	position: absolute;
	width: 100%;
	height: 0px;
	top: 80px;
	/*background-color: red;*/
	text-align: center;
	background-color: white;
	z-index: 10;
	overflow: hidden;
	border-top: 1px solid #f2f2f2;
}

#mobileNavBar{
	margin: 0px;
	margin: auto;
	margin-top: 20px;
	width: 80%;
	height: 100%;
	text-align: center;
	/*background-color: orange;*/
}

.mobileNavCell{
	width: 100%;
	height: 40px;
	text-align: center;
	/*background-color: blue;*/
	margin: 0px;
}

/*----- MainView --------*/
#mainView{
	/*margin: auto;*/
	display: block;
	overflow: auto;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 1000px;
	width: 100%;
	padding-bottom: 200px;	
	text-align: center;
}

#mainList{
	/*width: 50%;*/
	width: 500px;
	height: 100%;
	/*min-height: 750px;*/
	background-color: red;
	margin: auto;
}

/*----- BlogItem ---------*/
.blogItem{
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 1000px;
	/*background-color: orange;*/
}

.blogItem #blogItemDate{
	color: gray;
	margin: 10px 0px 10px 0px;
	text-align: left;
	padding-left: 20px;
}

.blogItem #blogItemTitle{
	color: black;
	margin: 10px 0px 40px 0px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;

	font-family: "Montserrat", sans-serif;
	font-size: 30px;
}

.blogItem #blogItemImage{
	width: 350px;
	height: 350px;
	margin-bottom: 20px;
}

.blogItem p{
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 10px 0px;
	text-align: left;
	font-family: "Work Sans",sans-serif;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
}

/*---------- footer view -----------*/
#footerView{
	margin: 0px;
	/*margin-top: -100px;*/
	padding: 0px;
	background: black;
	/*background-color: #f2f2f2;*/
	height: 375px;
	width: 100%;
	position: absolute;
	bottom: 0;
	/*text-align: center;*/
	/*margin-top: -150px;*/
	/*clear: both;*/
}

/*------- subscribeView------------*/
#subscribeView{
	/*float: right;*/
	/*position: absolute;*/
	margin: auto;
	margin-top: 25px;
	height: 325px;
	width: 700px;
	background-color: black;
	text-align: center;

}

#subscribeView h3{
	/*margin-top: 40px;*/
	/*margin-bottom: 10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: white;
	/*background-color: red;*/
}

#subscribeView h4{
	/*margin-top: 40px;*/
	/*margin-bottom: 10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: white;
	/*background-color: red;*/
}

.signUpField{
	/*margin: 10px;*/
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 5px;
	height: 30px;
	width: 150px;
}

#subscribeView button{
	margin-left: 5px;
	width: 100px;
	height: 35px;
	background-color: #ffcc00;

	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 12px;
}

#subscribeView button:focus{
	outline: none;
}

#subscribedMessage{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-top: 15px;
	color: white;
	display: none;
}

#subscribeView h5{
	/*margin-top: 40px;*/
	/*margin-bottom: 10px;*/
	/*padding-top: 10px;*/
	padding-bottom: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: white;
	/*background-color: red;*/
}

/*------------ socialMedia Div -------------*/
#socialMediaTitle{
	/*background-color: blue;*/
	margin-top: 30px;
	margin-bottom: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: white;
}

#socialMediaDiv{
	/*background-color: red;*/
	height: 50px;
	width: 200px;
	margin: auto;

}


#instagram{
	position: relative;
	height: 50px;
	width: 50px;
	padding: 0px;
	margin-left: 15px;
	margin-right: 10px;
	/*margin: 25px 0px 25px 10px;*/
	/*margin: auto;*/
	float: left;
	z-index: 1;
}

#facebook{
	position: relative;
	height: 45px;
	width: 45px;
	margin-top: 2.5px;
	/*margin-right: 30px;*/
	/*margin: 25px 0px 25px 10px;*/
	/*margin:auto;*/
	margin-right: 17px;
	float: left;
	z-index: 1;
}

#linkedin{
	position: relative;
	height: 45px;
	width: 45px;
	margin-top: 2.5px;
	/*margin-right: 30px;*/
	/*margin: 25px 0px 25px 10px;*/
	/*margin:auto;*/
	float: left;
	z-index: 1;
}

/*-------------------- DYNAMIC MEDIA @ -------------*/
@media(max-width: 720px){
	.blogItem #blogItemImage{
		width: 300px;
		height: 300px;
	}
}

@media(max-width: 700px){/*mobile phones*/

	#mainView{
		/*min-height: 1500px;*/
		padding-bottom: 200px;
		/*background-color: red;*/
	}

	#footerView{
		height: 450px;
	}

	#subscribeView{
		width: 500px;
		height: 400px;
		/*background-color: red;*/
	}

	.signUpField{
		width: 100px;
	}
}


@media(max-width: 675px){
	#mainView{
		/*min-height: 1800px;*/
	}

	/*-------- hamburger show -----------*/
	#navItems{
		display: none;
	}

	#hamburgerButton{
		display: block;
	}
}

@media(max-width: 565px){
	#mainView{
		/*background-color: blue;*/
		/*min-height: 2000px;*/
		/*padding-bottom: 550px;*/
	}

	#mainList{
		width: 400px;
	}

	/*-------- footer resize ----------*/

	#footerView{
		height: 550px;
	}

	#subscribeView{
		width: 300px;
		height: 500px;
		/*background-color: red;*/
	}

	.signUpField{
		width: 180px;
		/*margin-right: 20px;*/
	}

	#signUpButton{
		margin-bottom: 20px;
	}
}

@media(max-width: 413px){
	#mainList{
		width: 300px;
	}

	.blogItem #blogItemImage{
		width: 200px;
		height: 200px;
	}
}
